<header class="app-header">
  <h1 class="app-header__title">My blog</h1>
  <div class="app-header__menu">
    {{link-to 'view all' 'posts.list'}}
    {{link-to 'new post' 'posts.new'}}
  </div>
  {{yield}}
</header>
