<div class="post-view">
  <h1 class="post-view__subject">{{fa-icon "angle-right"}}{{post.subject}}</h1>
  <div class="post-view__body">
    {{render-mobiledoc mobiledoc=post.mobiledoc cardNames=(mobiledoc-card-names)}}
  </div>
</div>
