.app-header {
  display: flex;
  align-items: center;
  margin-bottom: $base-spacing;
  height: 75px;
  background-color: #efefef;


  &__title {
    color: $base-font-color;
    font-size: 1.5em;
    padding: 10px;
    margin-bottom: 0;
  }

  &__menu {
    a {
      font-family: $heading-font-family;
      font-size: 1.2em;
      padding: 10px;
      margin-left: 10px;
    }
  }
}
